---
import HymnsTable from '../components/HymnsTable.vue';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Song Selector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Hymns & Media Sources</h1>

    <!-- Vue component runs only in the browser -->
    <HymnsTable client:only="vue" />
  </body>
</html>
